* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a143f;
}

.clock {
    color: #fff;
    background: #1a143f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    padding: 15px 10px;
    border: 3px solid #4b9ac1;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, .1));
    transition: 0.3s linear;
    cursor: pointer;

}

.clock:hover {
    background: #4b9ac1;
    box-shadow: 0 0 40px #4b9ac1;
}

.time {
    font-size: 5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:last-child {
    background-color: #4b9ac1;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.date {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
